[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cplots"]
	path = cplots
	url = https://github.com/cran/cplots
[submodule "lsei"]
	path = lsei
	url = https://github.com/cran/lsei
[submodule "npsurv"]
	path = npsurv
	url = https://github.com/cran/npsurv
[submodule "nspmix"]
	path = nspmix
	url = https://github.com/cran/nspmix
